.footer {
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
  
  .footer__copyright {
    display: flex;
    margin: 100px auto 24px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-size: 14px;
    font-style: normal;
    line-height: 1.14;
    font-weight: 400;
  }