html{
    background-color: #2A2C2F;
}

.page{
    margin: 0 auto;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: white;
    max-width: 1600px;
}

.page__title {
    width: 100%;
    display: flex;
  }
  
  .page__logo {
    margin: 0 auto;
    padding-top: 34px;
  }